table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: $l-size;
}

th, td {
  text-align: left;
  padding: 8px;
  font-weight: 300;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.list-body {
  font-size: $font-size-small;
  word-break: break-all;
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list__unbreakable {
  word-break: keep-all;
}